.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(44, 6, 44);
  
}

.moviecard {
  margin: 10px;
  border: 1px solid #b10085;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  -webkit-box-shadow:0px 0px 145px 23px rgba(144,46,255,0.34);
  -moz-box-shadow: 0px 0px 145px 23px rgba(144,46,255,0.34);
  box-shadow: 0px 0px 145px 23px rgba(144,46,255,0.34);
  align-content: center;
  
  
  

  &:hover {
      transform: scale(1.05);
      
  }
  


  h1 {
      font-size: 1.2rem;
      margin: 10px 0;
  }

  p {
      font-size: 0.9rem;
      margin: 5px 0;
      color: #555;
  }
}

.moviecard{
  width: 300px;
  height: 500px;
}

.moviecard h1{
  font-size: 1.1rem;
}

.moviecard img{
  width: 300px;
  height: 400px;
}

.movie-container {
position: relative;
}

.moviecard {
position: relative;
overflow: hidden;
cursor: pointer;
transition: transform 0.3s;
}

.moviecard:hover {
transform: scale(1.05);
}

.description-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
opacity: 0;
transition: opacity 0.3s;
}

.moviecard:hover .description-overlay {
opacity: 1;
}